// *----------------------------------*\
// Tools > Functions
// *----------------------------------*/

half($n) {
  return round($n / 2);
}

quarter($n) {
  return round($n / 4);
}

double($n) {
  return round($n * 2);
}

quadruple($n) {
  return round($n * 4);
}