doctype html
html(lang=config.language)

  include _partial/head.pug
  body: .js-off-canvas-container.c-off-canvas-container
    include _partial/header.pug
    block content
    include _partial/foot.pug