footer.c-footer
  .o-grid
    .o-grid__col.o-grid__col--full
      ul.o-plain-list.c-social-nav.u-text-center
        li.c-social-nav__item
          a(href=site.twitter,target='_blank')
            span.c-social-nav__icon(data-icon='ei-sc-twitter',data-size='s')
        li.c-social-nav__item
          a(href=site.facebook,target='_blank')
            span.c-social-nav__icon(data-icon='ei-sc-facebook',data-size='s')
        li.c-social-nav__item
          a(href=site.instagram,target='_blank')
            span.c-social-nav__icon(data-icon='ei-sc-instagram',data-size='s')
        li.c-social-nav__item
          a(href=site.github,target='_blank')
            span.c-social-nav__icon(data-icon='ei-sc-github',data-size='s')
        li.c-social-nav__item
          a(href='mailto:'+site.email,target='_blank')
            span.c-social-nav__icon(data-icon='ei-envelope',data-size='s')